body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
.half-width img{
    width: 100%;
}
.org{
    color: orange;
}
.half-width{
    margin: 30px 40px 40px 70px;
    width: 70%;
    padding-left: 2%;
}
h1{
    font-size: 60px;
}
p{
    color: lightslategray;
    font-size: 18px;
    
}
.half-width a{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
}
.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}
h2{
    font-size: 40px;
}
footer{
    text-align: center;
}
.bottom{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
}
.ex-br{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    background-color: white;
    height: 70%;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}

   